@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .max-w-md {
    max-width: none !important;
  }

  body {
    margin: 32px 8px !important;
    padding: 0 !important;
  }

  button {
    display: none !important;
  }

  input {
    display: none !important;
  }

  label {
    display: none !important;
  }

  .space-y-4 {
    display: none !important;
  }
}

body {
  color: #000000;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}